/ext/data/*.png
/ext/webextension/icons/*
/ext/webextension/manifest.json
/ext/webextension/src/lib/psllookup.json.gz
/ext/chromeext/icons
/ext/chromeext/src
/ext/edgeext/icons
/ext/edgeext/src
/ext/firefoxext/icons
/ext/firefoxext/src
/builds
node_modules/
scrypt.js
scrypt-asm.js
*.msi
*.exe
/libscrypt/crypto_scrypt-nosse-nommap.c
publicsuffixlist/public_suffix_list.dat
