html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
:root {
    --cb-border: 0;
    --text-color: #abb2b6;
    --main-bg-color: #21252b;
    --header-bg-color: #373d47;
    --default-padding: 0.2rem;
    --font-size-big: 1.4rem;
}
header,main,div,body,html,h1,h2,h3,h4,p,img,span,button,input,select,textarea,form {margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
button,input,textarea,optgroup{font-weight:bold;}
html{
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 14pt;
  line-height: 1.5em;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}
body { font-size: 100%;}

main {
    display: block;
    max-width: 38em;
    padding: 0 1em;
    line-height: 1.2em;
}

main p {
    margin-bottom: 1em;
}

main a, main a:link,
.hightlight-links a, .hightlight-links a:link{
    font-style: italic;
    text-decoration: underline;
}

main h3 {
    margin-bottom:var(--default-padding);
    font-size: 1.2em;
    color: #ddd;
}

a:visited,
a:hover,
a:link,
a:active {
  color: var(--text-color);
  text-decoration: none;
}

.btntool {
  cursor: pointer;
}

.container {
    position: relative;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

button {
  color: #969eac;
  background-color: var(--header-bg-color);
  background-image: linear-gradient(lighten(#383e48, 2%), var(--header-bg-color));
  min-width: 1.8em;
  min-height: 1.8em;
  border: 1px solid #181a1f;
  display: inline-block;
  padding: 3px 8px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

button:focus, input:focus, mp-combobox:focus-within {
  outline-color: #6696e7;
  outline-width: thin;
  outline-style: auto;
}

input,
select,
mp-combobox,
textarea,
no-op {
    background: #1b1d23;
    color: #d7dae0;
    height: 2em;
    --cb-padding: 0 0.3em;
    --cb-dropdown-fontsize: 0 0.3em;
    --cb-input-font: var(--font-size-big);
    --cb-drop-font: 1.1em;
    padding: var(--cb-padding);
    vertical-align: middle;
    width:100%;
}
input, select {
    font-size: var(--font-size-big);
}

*::-moz-placeholder,
*::-webkit-input-placeholder {
    color: var(--text-color);
    opacity: 0.6;
    font-size: 0.8em;
}

.text-big { font-size: var(--font-size-big); }
.text-bigger { font-size: 2em; }



.valign_mid {
    display: flex;
    align-items: center;
}
.spacer { flex:1;}
.spacer-fixed-small { margin-top:0.3em;}

body > * {
}

header {
  background-color: var(--header-bg-color);
  color: var(--text-color);
  justify-content: left;
  margin-bottom: 0.8em;
  padding: var(--default-padding) 0;
}
header > * {
  vertical-align:middle;
}
header img { padding-right:0.5em; height: 2em; }
header h1 { display:inline-block; font-size: 1.5em; font-weight: 200; }

.configbuttons {
    position:fixed;
    top:0.1em;
    right:var(--default-padding);
    font-size: 2em;
}
.configbuttons > div {
    margin-left: 0.1em;
}

#sessionsetup > form {
    width:100%;
    margin-top: 2em;
    display:flex;
    flex-direction: column;
    flex-align: center;
}
#sessionsetup > form > * {
    margin: 0.3em 0;
    display:block;
    flex:1;
}
#main > div#passwd {
    height: 2.4em;
}
#thepassword > a {
    font-size: 2em;
}
#main > * {
    margin-bottom: 0.6em;
}

#storedids_dropdown {
    margin-left: 0.2rem;
}

#thepassword {
  padding-left: 8px;
}

#thepassword a {
  text-decoration: none;
}

button#siteconfig_show {
    position: absolute;
    top: 0;
    left: 0;
}
#siteconfig {
    overflow:hidden;
}
#siteconfig > label {
    margin-left: 1em;
    font-size: 0.8em;
    min-width: 8em;
    float:left;
}
#siteconfig > input,
#siteconfig > select,
#siteconfig > option,
no-op {
    font-size: 1em;
    font-weight: normal;
    width: 6em;
    height: 1.8em;
    border: 0;
}

.verify_pass {
  width: 100%;
  font-size: 0.70em;
  bottom: var(--font-size-big);
  position: fixed;
}

#passwdgeneration {
  width: 100%;
  height: 2em;
  vertical-align: middle;
}

#usermessage {
  width: 100%;
  background-color: #616161;
  padding: 2px;
  text-align: left;
  font-size: 0.75em;
  height: 2em;
  line-height:2em;
  bottom: 0;
  position: absolute;
  color: #a0a0a0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.warning_message {
    color: white;
    background-color: red;
}

#usermessage.warning_message {
    color: white;
    background-color: red;
}

#usermessage.info_message {
    color: white;
}

#change_keyid_ok {
  height: 20px;
}


/* Options page styles */
.accordion {
  width: 50em;
  margin-bottom:1em;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  margin-left: 1em;
  padding-bottom: 1em;
  overflow: hidden;
}
.accordion > h2 {
    cursor: pointer;
    width:100%;
    margin-bottom: 0.5em;
}
.accordion > h2:after {
    position:absolute;
    right:var(--default-padding);
    content: '+';
}
.accordion.in > h2:after {
    content: '-';
}
.accordion {
  height: 2.1em;
  transition: height 0.1s ease-out;
}
.accordion.in {
  height: auto;
}

.configgroup {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.configsubgroup.left {
    padding-right:5em;
}

.configitem > label {
    margin-left: 1em;
    font-size: 0.8em;
    min-width: 14em;
    float:left;
}

.configitem > input,
.configitem > select,
.configitem > option,
.configitem > textarea,
no-op {
    margin-top:1.5em;
    margin-left:-8em;
    font-size: 1em;
    font-weight: normal;
    width: 8em;
    height: 1.8em;
    border: 0;
}
.configitem > input[type=checkbox] {
    margin-left: -2em;
    margin-top:0.2em;
}

.configitem > textarea#treat_as_same_site {
    width: 11.5em;
    height: 13em;
    font-size: 0.7em;
    margin-left: -11.5em;
    margin-top: 2em;
    white-space: nowrap;
}

/* FIXME: I don't understand how the left alignment of inputs works here, 
          using negative margins and wrapping - so I just manually margin-left
          by eye to line up - however it would be better to align this p
          the same way as the input it is annotating */
.configitem > textarea#treat_as_same_site + p {
    font-size: 0.6em;
    margin-left: 6.7em;
    line-height: normal;
}

#stored_sites {
    width:100%;
    text-align: center;
}

#stored_sites input {
    font-size: 1em;
}

.list-clean {
    margin-top: 0;
    list-style-type: none;
}

.backdrop {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    z-index:500;
}
.dialog {
    border:2px black inset;
    position:fixed;
    top:5em;left:5em;
    width:50%;
    background:white;
	color:black;
    padding: 1em;
}

.inset {
    margin-left: 2em;
}

#messagebox {
    width: 22vw;
    position: fixed;
    right:-22vw;
    top:1em;
    background: var(--text-color);
    color: var(--main-bg-color);
/*    transition: right 0.2s cubic-bezier(0,.74,.7,1.16);  */
    transition: right 0.3s cubic-bezier(0,1.4,1,1);
}
#messagebox > div.progress {
    background:blue;
    display:block;
    height:3px;
    width:100%;
    margin:0 0;
    position: absolute;
    bottom:0;
    left:0;
    transition: width 0.3s linear;
}
#messagebox.visible {
    right:0vw;
}
#messagebox.visible > div.progress {
    width:0;
    transition: width 5s linear;
}
#messagebox_text {
    margin: 0.5em;
}
