html,body {
  height: 20em;
  width: 20em;
  overflow: hidden;
}

#identifier {
  text-align: center;
  height: 1vh;
}

@media only screen and (max-device-height:640px) {
html,body {
  height: 100vh;
  min-height: 20em;
  width: auto;
  overflow: hidden;
}
}

