html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
header,main,div,body,html,h1,h2,h3,h4,p,img,span,button,input,select,textarea,form {margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
button,input,textarea,optgroup{font-weight:bold;}
html{
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 14pt;
  line-height: 1.5em;
  color: #abb2b6;
  background-color: #21252b;
}

main {
    display: block;
    max-width: 38em;
    padding: 0 1em;
    line-height: 1.2em;
}

main p {
    margin-bottom: 1em;
}

main a, main a:link,
.hightlight-links a, .hightlight-links a:link{
    font-style: italic;
    text-decoration: underline;
}

main h3 {
    margin-bottom:0.2em;
    font-size: 1.2em;
    color: #ddd;
}

a:visited,
a:hover,
a:link,
a:active {
  color: #abb2b6;
  text-decoration: none;
}

.btntool {
  cursor: pointer;
}

.container {
    position: relative;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

button {
  color: #969eac;
  background-color: #373d47;
  background-image: linear-gradient(lighten(#383e48, 2%), #373d47);
  min-width: 1.8em;
  min-height: 1.8em;
  border: 1px solid #181a1f;
  display: inline-block;
  padding: 3px 8px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
}

button:focus, input:focus {
  outline-color: #6696e7;
  outline-width: thin;
}

input, select {
    background-color: #1b1d23;
    color: #d7dae0;
    height: 2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    vertical-align: middle;
    font-size: 1.4em;
    width:100%;
}

div.dropdown {
    position:relative;
    background-color: #1b1d23;
}
div.dropdown > ul {
    list-style-type: none;
    background-color: #1b1d23;
    z-index: 100;
    position:absolute;
    border: 0;
    margin-top:-0.2em;
    width:100%;
    height:5em;
    font-size: 1.1em;
    vertical-align: middle;
    overflow: auto;
    padding:0
}
div.dropdown > ul > li {
    padding: 0.1em;
    padding-left: 0.3em;
}
div.dropdown > ul > li:hover {
    background: #abb2b6;
    color: #000000;
}


*::-webkit-input-placeholder {
    color: #abb2b6;
    opacity: 0.6;
    font-size: 0.8em;
}
*::-moz-placeholder {
    color: #abb2b6;
    opacity: 0.6;
    font-size: 0.8em;
}

.text-big { font-size: 1.4em; }
.text-bigger { font-size: 2em; }



.valign_mid {
    display: flex;
    align-items: center;
}
.spacer { flex:1;}
.spacer-fixed-small { margin-top:0.3em;}

body > * {
}

header {
  background-color: #373d47;
  color: #abb2b6;
  justify-content: left;
  margin-bottom: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
header > * {
  vertical-align:middle;
}
header img { padding-right:0.5em; height: 2em; }
header h1 { display:inline-block; font-size: 1.5em; font-weight: 200; }

.configbuttons {
    position:fixed;
    top:0.1em;
    right:0.2em;
    font-size: 2em;
}
.configbuttons > div {
    margin-left: 0.1em;
}

#sessionsetup > form {
    width:100%;
    margin-top: 2em;
    display:flex;
    flex-direction: column;
    flex-align: center;
}
#sessionsetup > form > * {
    margin: 0.3em 0;
    display:block;
    flex:1;
}
#main > div#passwd {
    height: 2.4em;
}
#thepassword > a {
    font-size: 2em;
}
#main > * {
    margin-bottom: 0.6em;
}
#storedids_dropdown {
    margin-left: 0.5em;
}

#thepassword {
  padding-left: 8px;
}

#thepassword a {
  text-decoration: none;
}

button#siteconfig_show {
    position: absolute;
    top: 0;
    left: 0;
}
#siteconfig {
    overflow:hidden;
}
#siteconfig > label {
    margin-left: 1em;
    font-size: 0.8em;
    min-width: 8em;
    float:left;
}
#siteconfig > input,
#siteconfig > select,
#siteconfig > option {
    font-size: 1em;
    font-weight: normal;
    width: 6em;
    height: 1.8em;
    border: 0;
}

.verify_pass {
  width: 100%;
  font-size: 0.70em;
  bottom: 1.4em;
  position: fixed;
}

#passwdgeneration {
  width: 100%;
  height: 2em;
  vertical-align: middle;
}

#usermessage {
  width: 100%;
  background-color: #616161;
  padding: 2px;
  text-align: left;
  font-size: 0.75em;
  height: 2em;
  line-height:2em;
  bottom: 0;
  position: absolute;
  color: #a0a0a0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.warning_message {
    color: white;
    background-color: red;
}

#usermessage.warning_message {
    color: white;
    background-color: red;
}

#usermessage.info_message {
    color: white;
}

#change_keyid_ok {
  height: 20px;
}


/* Options page styles */
.accordion {
  width: 50em;
  margin-bottom:1em;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  margin-left: 1em;
  padding-bottom: 1em;
  overflow: hidden;
}
.accordion > h2 {
    cursor: pointer;
    width:100%;
    margin-bottom: 0.5em;
}
.accordion > h2:after {
    position:absolute;
    right:0.2em;
    content: '+';
}
.accordion.in > h2:after {
    content: '-';
}
.accordion {
  height: 2.1em;
  transition: height 0.1s ease-out;
}
.accordion.in {
  height: auto;
}

.configitem > label {
    margin-left: 1em;
    font-size: 0.8em;
    min-width: 14em;
    float:left;
}

.configitem > input,
.configitem > select,
.configitem > option {
    margin-top:1.5em;
    margin-left:-8em;
    font-size: 1em;
    font-weight: normal;
    width: 8em;
    height: 1.8em;
    border: 0;
}

#stored_sites {
    width:100%;
    text-align: center;
}

#stored_sites input {
    font-size: 1em;
}

.list-clean {
    margin-top: 0;
    list-style-type: none;
}

.backdrop {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    z-index:500;
}
.dialog {
    border:2px black inset;
    position:fixed;
    top:5em;left:5em;
    width:50%;
    background:white;
	color:black;
    padding: 1em;
}
